// _variables.scss
// Aquí definimos las variables que usaremos a lo largo de nuestros estilos.
// Así podemos cambiar todo desde un solo lugar.

// 🎨 Colores
$color-fondo: #2b2b2b;
$color-header: #3a4a3f;
$color-nav: #356b3f;
$color-acento: #8ce0e6;
$color-footer: #1a1a1a;
$color-texto-principal: white;
$color-destacado: #5ca870;
$color-secundario: #bbbbbb;

// 🅰️ Tipografía
$fuente-principal: sans-serif;